{% extends "layout.html" %}

{% block content %}
  <h3>{{currentPage.title}}<small> (<a href="{{currentPage.route}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">{{currentPage.author}}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{currentPage.content}}</div>
  <hr/>
  <a href="{{currentPage.route}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{currentPage.route}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
